.background {
    -fx-background-image: url("../img/splashscreenbg2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}


.jfx-progress-bar{
    -fx-pref-width: 396.0;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #212121;
}

.custom-jfx-progress-bar > .bar {
    /*-fx-background-color: rgb(255.0,128.0,0.0);*/
    -fx-background-color: #D32F2F;
}